{{ define "main" }}

{{ partial "page-title.html" . }}

{{ if site.Data.contact.company.enable }}
{{ with site.Data.contact.company }}
<section class="contact-section section">
  <div class="container">
    <div class="row">
      <!-- Contact Details -->
      <div class="contact-details col-md-6">
        <h3 class="mb-4">{{ .title | markdownify }}</h3>
        <p class="mb-5">{{ .content | markdownify }}</p>

        <div class="row">
          {{ range .office }}
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h4 class="mb-4">{{ .name | markdownify }}</h4>
            <ul class="contact-short-info list-unstyled">
              {{ range .officeContact }}
              <li>
                <i class="{{ .icon }} mr-3"></i>
                <span>{{ .content | markdownify }}</span>
              </li>
              {{ end }}
            </ul>
          </div>
          {{ end }}
        </div>
      </div>
      <!-- Contact Form -->
      <div class="contact-form col-lg-6 ">
        <h3 class="mb-4">Отправьте письмо:</h3>

        <form id="contact-form" class="needs-validation" method="post" action="">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <input type="text" placeholder="Имя" class="form-control" name="name" id="name">
                <div class="invalid-feedback">
                  Пожалуйста, введите имя.
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <!-- <div class="col-lg-6">
              <div class="form-group">
                <input type="text" placeholder="Subject" class="form-control" name="subject" id="subject">
              </div>
            </div> -->

            <div class="col-lg-6">
              <div class="form-group">
                <input type="email" placeholder="Email" class="form-control" name="email" id="email">
                <div class="invalid-feedback">
                  Пожалуйста, введите Email.
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <input type="tel" placeholder="Телефон" class="form-control" name="phone" id="phone">
                <div class="invalid-feedback">
                  Пожалуйста, введите Телефон.
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <textarea rows="6" placeholder="Сообщение" class="form-control" name="message" id="message"></textarea>
            <div class="invalid-feedback">
              Пожалуйста, введите Сообщение.
            </div>
          </div>

          <input type="hidden" name="recaptcha_response" id="recaptchaResponse">

          <div class="mt-4">
            <button type="submit" id="contact-submit" class="btn btn-black btn-small">Отправить сообщение</button>
          </div>
        </form>
      </div>
      <script src="https://www.google.com/recaptcha/api.js?render=6LfIaPEpAAAAAIvuTwFDijEfBG-eGrS-kDFJO6HD"></script>
      <script>
        grecaptcha.ready(function() {
          grecaptcha.execute('6LfIaPEpAAAAAIvuTwFDijEfBG-eGrS-kDFJO6HD', {action: 'submit'}).then(function(token) {
            var recaptchaResponse = document.getElementById('recaptchaResponse');
            recaptchaResponse.value = token;
          });
        });
      </script>
      <!-- ./End Contact Form -->
    </div> <!-- end row -->
  </div> <!-- end container -->
</section>
{{ end }}
{{ end }}

{{ if site.Data.contact.map.enable }}
<div class="google-map">
  <div id="map" data-latitude="{{ with site.Params.mapLatitude }} {{ . }} {{ end }}"
    data-longitude="{{ with site.Params.mapLongitude }} {{ . }} {{ end }}"
    data-marker="{{ with site.Params.mapMarker }} {{ . | relURL }} {{ end }}"></div>
</div>
{{ end }}

{{ end }}