{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="single-product">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ site.BaseURL }}">{{ site.Params.home }}</a></li>
            <li class="breadcrumb-item"><a href="{{`shop` | relURL}}">Магазин</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ .Title | markdownify }}</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row mt-5 mt-lg-0">
      {{ if .Params.Images }}
      <div class="col-md-5">
        {{ $items := .Params.Images }}
        <div class="{{ if ne (len $items) 1}}single-product-slider{{ end }}">
          {{ range $items }}
          <div data-image="{{ . | relURL }}">
            <img class="img-fluid w-100" src="{{ . | relURL }}" alt="product-img">
          </div>
          {{ end }}
          {{ if eq (len .Params.Images) 1}}
          <style>
            .slick-dots{
              display: none !important;
            }
          </style>
          {{ end }}
        </div>
      </div>
      {{ end }}

      <div class="col-md-7">
        <div class="single-product-details mt-5 mt-lg-0">
          <h2>{{ .Title | markdownify }}</h2>
          <hr>

          <h3 class="product-price">
            <span class="productprice">{{ with .Params.variants }}{{ (index . 0).price }}{{ else }}{{ .Params.Price}}{{ end }}</span> {{ site.Params.currency }}
            {{ if .Params.PriceBefore }}<del>{{ .Params.PriceBefore }} {{ site.Params.currency }}</del>{{ end }}
          </h3>

          <p class="product-description my-4">
            {{ .Summary }}
          </p>

          <div class="products-meta mt-4">
            {{ if .Params.Categories }}
            <div class="product-category d-flex align-items-center">
              <span class="font-weight-bold text-capitalize product-meta-title">Категории:</span>
              {{ range $index, $element:= .Params.Categories }}{{ if eq $index 0 }}{{ . | title | humanize }}{{ else }}, {{ . | title | humanize }}{{ end }}{{ end }}
            </div>
            {{ end }}
            {{ if .Params.Formats }}
            <div class="product-category d-flex align-items-center">
              <span class="font-weight-bold text-capitalize product-meta-title">Форматы:</span>
              {{ range $index, $element:= .Params.Formats }}{{ $name:= replace . "[" " " }}{{ $name:= replace $name "]" "$" }}{{ if eq $index 0 }}{{ $name | title | humanize }}{{ else }}, &nbsp; {{ $name | title | humanize }}{{ end }}{{ end }}
            </div>
            {{ end }}

            {{/*}}
              {{ if .Params.Colors }}
              <div class="product-category d-flex align-items-center">
                <span class="font-weight-bold text-capitalize product-meta-title">Color :</span>
                {{ range $index, $element:= .Params.Colors }}{{ $name:= replace . "[" " " }}{{ $name:= replace $name "]" "$" }}{{ if eq $index 0 }}{{ $name | title | humanize }}{{ else }}, &nbsp; {{ $name | title | humanize }}{{ end }}{{ end }}
              </div>
              {{ end }}
              {{ if .Params.Sizes }}
              <div class="product-category d-flex align-items-center">
                <span class="font-weight-bold text-capitalize product-meta-title">Size :</span>
                {{ range $index, $element:= .Params.Sizes }}{{ $name:= replace . "[" " " }}{{ $name:= replace $name "]" "$" }}{{ if eq $index 0 }}{{ $name | title | upper }}{{ else }}, &nbsp; {{ $name | title | upper }}{{ end }}{{ end }}
              </div>
              {{ end }}
              <h5 class="mt-4">[Varient can be select after add to cart]</h5>
              <button class="snipcart-add-item btn btn-main btn-small mt-5"
                data-item-id="{{ .Title | urlize }}__{{ .Params.Price }}"
                data-item-name="{{ .Title }}"
                data-item-image="{{ with .Params.Images }} {{ range first 1 .}} {{ . | relURL }}{{ end }}{{ end }}"
                data-item-price="{{ .Params.Price }}"
                data-item-url="{{ .RelPermalink }}"
                data-item-description="{{ .Params.Description | markdownify }}"
                {{ if .Params.Colors }}
                data-item-custom1-name="Choose Color"
                data-item-custom1-options="{{ range $index, $element:= .Params.Colors }}{{ if eq $index 0 }}{{ . | title }}{{ else }}|{{ . | title }}{{ end }}{{ end }}"
                {{ end }}
                {{ if .Params.Sizes }}
                data-item-custom2-name="Choose Size"
                data-item-custom2-options="{{ range $index, $element:= .Params.Sizes }}{{ if eq $index 0 }}{{ . | title | upper }}{{ else }}|{{ . | title | upper }}{{ end }}{{ end }}"
                {{ end }}>
                Add to cart
              </button>
            {{*/}}

            <form action="{{ with .Site.GetPage `cart.md` }}{{ .RelPermalink }}{{ end }}" onsubmit="return addToCart(this)">
              {{/*}}
              {{ if (index .Params.variants 1).name }}
              <div class="form-group">
                <label for="variant" class="font-weight-bold">Выбрать формат:</label>
                <select onchange="updateBuyButton(this)" id="variant" name="variant" class="form-control" aria-label="Default select example" required>
                {{ range $variants :=.Params.variants }}
                <option data-sku="{{ $variants.sku }}"
                  data-variantname="{{ $variants.name }}"
                  data-price="{{ $variants.price }}">
                  {{ $variants.name }}
                </option>
                {{ end }}
                </select>
              </div>
              {{ end }}
              {{*/}}

              {{ if (index .Params.variants 0).name }}
              {{ $.Scratch.Set "title" .Title }}
              <div class="form-group {{ if not (index .Params.variants 1).name }}d-none{{ end }}">
                <label for="variant" class="font-weight-bold">Выбрать формат:</label>
                <select onchange="updateBuyButton(this)" id="variant" name="variant" class="form-control" aria-label="Default select example" required>
                {{ range .Params.variants }}
                <option data-sku="{{ .sku }}_{{ $.Scratch.Get "title" | urlize }}"
                  data-variantname="{{ .name }}"
                  data-price="{{ .price }}">
                  {{ .name }}
                </option>
                {{ end }}
                </select>
              </div>
              {{ end }}

              {{ $formats := .Params.formats }}
              {{ $formatList := "" }}
              {{ range $index, $format := $formats }}
                {{ $formatList = print $formatList $format }}
                {{ if lt $index (sub (len $formats) 1) }}
                  {{ $formatList = print $formatList ", " }}
                {{ end }}
              {{ end }}

              <button type="submit" class="btn btn-main btn-small mt-5"
                data-item-id="{{ .Title | urlize }}__{{ .Params.Price }}"
                data-url="{{ .RelPermalink }}"
                {{/*}}
                data-sku="{{ .Title | urlize }}_{{ .Params.Price }}"
                {{*/}}
                data-sku="{{ with .Params.variants }}{{ (index . 0).sku }}{{ else }}default{{ end }}_{{ .Title | urlize }}"
                data-title="{{ .Title }}"
                data-formats="{{ $formatList }}"
                data-cloudfilename="{{ .Params.cloud_file_name }}"
                data-varianttype="{{ .Params.variant_type }}"
                {{/*}}
                data-variantname="{{ .Title | urlize }}"
                {{*/}}
                data-variantname="{{ with .Params.variants }}{{ (index . 0).name | urlize }}{{ else }}e-books{{ end }}"
                data-price="{{ with .Params.variants }}{{ (index . 0).price }}{{ else }}{{ .Params.Price | default 0 }}{{ end }}"
                data-item-price="{{ with .Params.variants }}{{ (index . 0).price }}{{ else }}{{ .Params.Price | default 0 }}{{ end }}"
                data-image="/{{ index .Params.images 0 }}">
                В корзину
              </button>
            </form>

            {{partial "share.html" . }}
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-12">
        <nav class="product-info-tabs wc-tabs mt-5 mb-5">
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
              aria-controls="nav-home" aria-selected="true">Описание</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
              aria-controls="nav-profile" aria-selected="false">Дополнительная информация</a>
            {{ if .Site.Config.Services.Disqus.Shortname }}
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
              aria-controls="nav-contact" aria-selected="false">Отзывы</a>
            {{ end }}
          </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            {{ .Content }}
          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <ul class="list-unstyled info-desc">
              {{ if .Params.ProductWeight }}
              <li class="d-flex">
                <strong>Weight </strong>
                <span>{{ .Params.ProductWeight }}</span>
              </li>
              {{ end }}

              {{ if .Params.Dimensions }}
              <li class="d-flex">
                <strong>Dimensions </strong>
                <span>{{ .Params.Dimensions }}</span>
              </li>
              {{ end }}

              {{ if .Params.Materials }}
              <li class="d-flex">
                <strong>Materials</strong>
                <span>{{ .Params.Materials }}</span>
              </li>
              {{ end }}

              {{ if .Params.Formats }}
              <li class="d-flex">
                <strong>Форматы </strong>
                <span>{{ range $index, $element:= .Params.Formats }}{{ $name:= replace . "[" " " }}{{ $name:= replace $name "]" "$" }}{{ if eq $index 0 }}{{ $name | title | humanize }}{{ else }}, &nbsp; {{ $name | title | humanize }}{{ end }}{{ end }}</span>
              </li>
              {{ end }}

              {{ if .Params.Colors }}
              <li class="d-flex">
                <strong>Color </strong>
                <span>{{ range $index, $element:= .Params.Colors }}{{ $name:= replace . "[" " " }}{{ $name:= replace $name "]" "$" }}{{ if eq $index 0 }}{{ $name | title | humanize }}{{ else }}, &nbsp; {{ $name | title | humanize }}{{ end }}{{ end }}</span>
              </li>
              {{ end }}

              {{ if .Params.Sizes }}
              <li class="d-flex">
                <strong>Size</strong>
                <span>{{ range $index, $element:= .Params.Sizes }}{{ $name:= replace . "[" " " }}{{ $name:= replace $name "]" "$" }}{{ if eq $index 0 }}{{ $name | title | upper }}{{ else }}, &nbsp; {{ $name | title | upper }}{{ end }}{{ end }}</span>
              </li>
              {{ end }}
            </ul>
          </div>
          {{ if .Site.Config.Services.Disqus.Shortname }}
          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            {{ template "_internal/disqus.html" . }}
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}