<script src="https://yookassa.ru/checkout-widget/v1/checkout-widget.js"></script>
<!--Контейнер, в котором будет отображаться платежная форма-->
<div id="payment-form"></div>
<!-- <div id="confirmationToken"></div> -->

<!-- Modal -->
<div class="modal fade" id="paySuccess" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Оплата прошла успешно.
      </div>
      <div class="modal-footer">
        <a href="/" class="btn btn-black btn-small">На главную</a>
        <a href="/shop" class="btn btn-main btn-small">В магазин</a>
      </div>
    </div>
  </div>
</div>
